<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>View</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="add.html">Add</a>
            <a class="nav-item nav-link active" href="view.html">View <span class="sr-only">(current)</span></a>
          </div>
        </div>
         </div>
      </nav>
   <br>
   <div ng-app="myApp" ng-controller="myCtrl">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1>View Transactions</h1>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div class="row">
                  <label for="Name">Name:</label>
               </div>
               <div class="row">
                  <input type="text" name="Name" id="Name" data-ng-model="Name">
               </div>
            </div>
            <div class="col-md-3">
               <div class="row">
                  <label for="ID">ID:</label>
               </div>
               <div class="row">
                  <input type="text" name="ID" id="ID" data-ng-model="ID">
               </div>
            </div>
            <div class="col-lg-3">
               <div class="row">
                  <label for="Category">Category:</label>
               </div>
               <div class="row">
                  <input type="radio" name="Category" id="Medicine" value="Medicine" data-ng-model="Category">
                  <label for="Medicine">Medicine</label>
               </div>
               <div class="row">
                  <input type="radio" name="Category" id="Health Care" value="Health Care" data-ng-model="Category">
                  <label for="Health Care">Health Care</label>
               </div>
               <div class="row">
                  <input type="radio" name="Category" id="Accessories" value="Accessories" data-ng-model="Category">
                  <label for="Accessories">Accessories</label>
               </div>
               <div class="row">
                  <input type="radio" name="Category" id="All" value="	" data-ng-model="Category">
                  <label for="All">All</label>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="table-responsive">
               <table class="table table-striped table-hover">
                  <thead>
                     <th scope="col" id="Name">Name</th>
                     <th scope="col" id="ID">ID</th>
                     <th scope="col" id="Category">Category</th>
                     <th scope="col" id="Stock">Stock</th>
                     <th scope="col" id="Price">Price</th>
                  </thead>
                  <tbody>
                     <tr ng-repeat="x in productArray | orderBy:'name' | filter:{name:Name, id:ID, category:Category}">
                        <td headers="Name">
                           <div ng-hide="x.edit && list.includes('name')" ng-click="editData(x, 'name')">{{x.name}}</div>
                           <div ng-show="x.edit && list.includes('name')">
                              <input type="text" data-ng-model="x.name" placeholder="x.name">
                              <button type="button" ng-click="finalise(x, 'name')">Submit</button>
                           </div>
                        </td>
                        <td headers="ID">
                           <div ng-hide="x.edit && list.includes('id')" ng-click="editData(x, 'id')">{{x.id}}</div>
                           <div ng-show="x.edit && list.includes('id')">
                              <input type="text" data-ng-model="x.id" placeholder="x.id">
                              <button type="button" ng-click="finalise(x, 'id')">Submit</button>
                           </div>
                        </td>
                        <td headers="Category">
                           <div ng-hide="x.edit && list.includes('category')" ng-click="editData(x, 'category')">{{x.category}}</div>
                           <div ng-show="x.edit && list.includes('category')">
                              <select data-ng-model="x.category">
                                 <option value="Medicine">Medicine</option>
                                 <option value="Health Care">Health Care</option>
                                 <option value="Accessories">Accessories</option>
                              </select>
                              <button type="button" ng-click="finalise(x, 'category')">Submit</button>
                           </div>
                        </td>
                        <td headers="Stock">
                           <div ng-hide="x.edit && list.includes('stock')" ng-click="editData(x, 'stock')">{{x.stock}}</div>
                           <div ng-show="x.edit && list.includes('stock')">
                              <input type="text" data-ng-model="x.stock" placeholder="x.stock">
                              <button type="button" ng-click="finalise(x, 'stock')">Submit</button>
                           </div>
                        </td>
                        <td headers="Price">
                           <div ng-hide="x.edit && list.includes('price')" ng-click="editData(x, 'price')">{{x.price}}</div>
                           <div ng-show="x.edit && list.includes('price')">
                              <input type="text" data-ng-model="x.price" placeholder="x.price">
                              <button type="button" ng-click="finalise(x, 'price')">Submit</button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   <script src="Framework/js/angular.min.js"></script>
   <script src="script/view.js"></script>
</body>
</html>
